@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Address Book</h1>
    <p><strong>Things that are working:</strong></p>
    <li>Github repo working</li>
    <li>Models and database context done successfully</li>
    <li>Migration and seed data worked flawlessly</li>
    <li>Contacts and Address view controllers are working i.e. view and edit</li>
</div>
